$color-dark: #222;
$color-accent: $color-dark;
$color-grey-lightest: #d1d1d1;
$color-grey-light: #b1b1b1;
$color-white: white;

$family-primary: 'Proxima Nova';
$weight-primary: 500;
$size-m: 18px;

$spacing-m: 1rem;
